.friend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  
  .status {
    height: 20px;
    margin-right: 10px;
    padding: 2px 8px; 
    border-radius: 5px; 
  }
  
  .avatar {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .name {
    font-size: 16px;
  }
  